ADF-Pipeline/netflix_pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"datalake_con":{"type":"string"},"github_con":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pipeline1')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ForAllTheFiles","type":"ForEach","dependsOn":[{"activity":"Validation1","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@pipeline().parameters.p_array","type":"Expression"},"activities":[{"name":"CopyGithubData","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_github","type":"DatasetReference","parameters":{"file_name":{"value":"@item().file_name","type":"Expression"}}}],"outputs":[{"referenceName":"ds_datalake","type":"DatasetReference","parameters":{"folder_name":{"value":"@item().folder_name","type":"Expression"},"file_name":{"value":"@item().file_name","type":"Expression"}}}]}]}},{"name":"Validation1","type":"Validation","dependsOn":[],"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ds_validation","type":"DatasetReference","parameters":{}},"timeout":"0.12:00:00","sleep":10}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"p_array":{"type":"array","defaultValue":[{"folder_name":"netflix_cast","file_name":"netflix_cast.csv"},{"folder_name":"netflix_category","file_name":"netflix_category.csv"},{"folder_name":"netflix_countries","file_name":"netflix_countries.csv"},{"folder_name":"netflix_directors","file_name":"netflix_directors.csv"}]}},"annotations":[],"lastPublishTime":"2025-03-15T11:06:36Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_validation')]","[concat(variables('factoryId'), '/datasets/ds_github')]","[concat(variables('factoryId'), '/datasets/ds_datalake')]"]},{"name":"[concat(parameters('factoryName'), '/ds_validation')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('datalake_con')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"netflix_titles.csv","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_github')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('github_con')]","type":"LinkedServiceReference"},"parameters":{"file_name":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"Mahikolhe23/Netflix-Data-Pipeline/refs/heads/main/Netflix_datasets/@{dataset().file_name}","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_datalake')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('datalake_con')]","type":"LinkedServiceReference"},"parameters":{"folder_name":{"type":"string"},"file_name":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().file_name","type":"Expression"},"folderPath":{"value":"@dataset().folder_name","type":"Expression"},"fileSystem":"bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]}]}